@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Gaegu&family=IBM+Plex+Sans+KR&family=Jua&family=Noto+Sans+KR:wght@100..900&family=Poor+Story&family=Sunflower:wght@300&display=swap");

.fon1 {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.fon2 {
  font-family: "Sunflower", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img {
  display: block;
  object-fit: cover;
}
body {
  height: 300vh;
}

/* ------------------------------------------

-------------------header--------------------

------------------------------------------ */

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #fff;
  transition: 0.5s;
}

header.scroll {
  background-color: rgba(255, 255, 255, 0.8);
  color: #151515;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* header 로고 */
header h1 {
  transition: 1s;
}
header h1 img {
  width: 150px;
  display: none;
}
header h1 img:nth-child(2) {
  display: block;
}

/* header 사이트맵 */
header nav.top ul {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
header nav.top ul li:hover {
  color: #fbac18;
}

/* header 로그인/FAQ */
header .login {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}
header .login a:hover {
  color: #fbac18;
}
header .login a:first-child ::after {
  content: "";
  display: inline-block;
  margin-left: 1em;
  width: 1px;
  height: 0.7rem;
  background-color: #fff;
  vertical-align: middle;
  /* 마우스 이벤트를 무시하게 만듭니다 */
  pointer-events: none;
  transition: 1s;
}
header.scroll .login a:first-child ::after {
  background-color: #151515;
}

/* header 후원 버튼 */
header .dona {
  width: 10rem;
  font-weight: bold;
  background-color: #4068b2;
  color: #fbac18;

  border-radius: 0 5rem 5rem 0;
  transition: 0.5s;
  animation: don 1s infinite alternate linear;
}
@keyframes don {
  0% {
    box-shadow: 0 0 2px #fbac18;
  }
  100% {
    box-shadow: 0 0 10px #fbac18;
  }
}

header .dona:hover {
  background-color: #fbac18;
  color: #fff;
}
header .dona a {
  padding: 1rem 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}
/* mobile 전용 */
header .mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
  display: none;
}
header .mobile i {
  cursor: pointer;
}

/*  */
/* visual */
#visual {
  width: 100%;
  height: 100vh;
  position: relative;
}

#visual .bg {
  width: 100%;
  height: 100%;
}
#visual .bg > li {
  width: 100%;
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  display: none;
  border-radius: 0 0 2rem 2rem;
}
#visual .bg > li::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  border-radius: 0 0 2rem 2rem;
}
#visual .bg .bg1 {
  background-image: url(../img/adopt1.jpg);
  display: block;
}
#visual .bg .bg2 {
  background-image: url(../img/adopt2.jpg);
}
#visual .bg .bg3 {
  background-image: url(../img/system1.jfif);
}
#visual .bg h3 {
  position: absolute;
  bottom: 30%;
  color: #fff;
  transform: translateX(-5rem);
  opacity: 0;
  transition: 1s;
  transition-delay: 0.5s;
}

#visual .bg h3 span {
  color: #fbac18;
}
#visual .bg .detail {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 15%;
  left: 5rem;
  background-color: #4068b2;
  color: #fbac18;
  border-radius: 0 2rem 2rem 0;
  width: 15rem;
  padding: 1rem;
  transform: translateX(-5rem);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 1s;
}
#visual .bg .detail:hover {
  background-color: #fbac18;
  color: #fff;
  transition-delay: 0s;
}
#visual .bg .detail i {
  transition: 0.5s;
}
#visual .bg .detail:hover i {
  transform: translateX(10px) rotate(180deg);
}

/* visual button */
#visual .but {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#visual .but i {
  /* background-color: #fbac18; */
  color: #fff;
  border-radius: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#visual .but .dot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#visual .but .dot li {
  width: 4rem;
  height: 0.2rem;
  border-radius: 2rem;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#visual .but .dot li .bar {
  width: 100%;
  height: 100%;
  background-color: #fbac18;
  margin-left: -100%;
  animation: bar 5s forwards infinite;
  display: none;
}
#visual .but .dot li.on .bar {
  display: block;
}
@keyframes bar {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}
#visual .but i:hover {
  color: #fbac18;
}

/* ----------------------------------------- */
/* ---------------container----------------- */
/* ----------------------------------------- */
#container h2 {
  font-size: 2rem;
  margin-left: 2rem;
  /* ani */
  transform: translateX(-10rem);
  opacity: 0;
  transition: 1s;
  transition-duration: 2s;
}
#container .p02 {
  font-size: 1.2rem;
  color: #151515;
  margin: 1rem 0 2rem;
  margin-left: 2rem;
  /* ani */
  transform: translateX(-10rem);
  opacity: 0;
  transition: 1s;
  /* transition-duration: 1s; */
  transition-delay: 0.5s;
}

/* ----------------------------------------- */
/* container */ /*-------------*/ /* con01 */
/* ----------------------------------------- */
#container .con01 {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 5rem auto;
  /* border: 1px solid red; */
}

/* txt */

#container .con01 .pic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  transform: translateY(10rem);
  transition: 1s;
  transition-delay: 1s;
}

/* large */
#container .con01 .pic .pic_l {
  width: 500px;
  height: 500px;
  position: relative;
}

#container .con01 .pic .pic_l li {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 20rem 20rem 1rem 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: 1s;
}

#container .con01 .pic .pic_l li.on {
  display: block;
}

#container .con01 .pic .pic_l li .info {
  background: linear-gradient(0deg, #4068b2, #4068b2be, rgba(255, 255, 255, 0));
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  /* border: 1px solid red; */
  transform: translateY(100%);
  transition: 0.5s;
  transition-delay: 0.3s;
}
#container .con01 .pic .pic_l li:hover .info {
  transform: translateY(0);
}
#container .con01 .pic .pic_l li:hover img {
  transform: scale(1.1);
  filter: brightness(1.1);
}

#container .con01 .pic .pic_l li:hover {
  box-shadow: 0 1rem 10px #fbac18;
}

#container .con01 .pic .pic_l li .info .name {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#container .con01 .pic .pic_l li .info .etc {
  font-size: 0.9rem;
}
#container .con01 .pic .pic_l li .info .etc span {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0 1rem;
  margin: 0 1rem;
}

#container .con01 .pic .pic_l li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* animation: size 5s infinite alternate; */
  filter: grayscale(0.3);
  transition: 0.5s;
}
/*  */
@keyframes size {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

#container .con01 .pic .pic_l li.door {
  background-color: #fff;
  border-left: 1rem solid #fff;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/* siren */
#container .con01 .pic .left {
  position: relative;
}
#container .con01 .pic .left .siren {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
#container .con01 .pic .left .siren img {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 0 5rem 5rem 0;
}
#container .con01 .pic .left .siren img:nth-child(1) {
  animation: sir1 1s infinite linear;
}
#container .con01 .pic .left .siren img:nth-child(2) {
  animation: sir2 1s infinite linear;
}
@keyframes sir1 {
  0%,
  49% {
    visibility: visible;
  }
  50%,
  100% {
    visibility: hidden;
  }
}
@keyframes sir2 {
  0%,
  49% {
    visibility: hidden;
  }
  50%,
  100% {
    visibility: visible;
    box-shadow: 0 0 30px red;
  }
}

/* small */

#container .con01 .pic .pic_s {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#container .con01 .pic .pic_s li {
  position: relative;
  width: calc((500px / 2) - 0.5rem);
  height: calc((500px / 2) - 0.5rem);
  border-radius: 1rem;
  overflow: hidden;
}

#container .con01 .pic .pic_s li img {
  width: 100%;
  height: 100%;

  /* transition: 0.5s; */
}
#container .con01 .pic .pic_s li .gr {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  transition: 0.5s;
}
#container .con01 .pic .pic_s li.on .gr {
  background-color: rgba(0, 0, 0, 0);
}
#container .con01 .pic .pic_s li.on img {
  scale: 1.1;
}
#container .con01 .pic .pic_s li.on {
  box-shadow: 0 0 30px #fbac18;
}

/* ----------------------------------------- */
/* container */ /*-------------*/ /* con02 */
/* ----------------------------------------- */
#container .con02 {
  width: 100%;
  padding: 5rem 0;
  background-color: #4068b2;
  border-radius: 0 30rem 0 0;
  transform: translateX(-100%);
  transition: 1s;
}

#container .con02 h2 {
  transition: 0.5s;
  transition-delay: 1.5s;
}
#container .con02 .p02 {
  transition: 0.5s;
  transition-delay: 2s;
}

#container .con02 .wrap {
  max-width: 1400px;
  margin: 0 auto;
  transform: translateY(5rem);
  opacity: 0;
  transition: 1s;
  transition-duration: 0.5s;
  transition-delay: 1s;
}

#container .con02 h2 {
  color: #fbac18;
}
#container .con02 .p02 {
  color: #fbac18;
}

#container .con02 .con02_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* con02 상단 화살표 */
#container .con02 .con02_top .arr {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#container .con02 .con02_top .arr div {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 2px solid #fbac18;
}

#container .con02 .con02_top .arr i {
  color: #fbac18;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.5s;
}
#container .con02 .con02_top .arr div:nth-child(1) {
  border-radius: 2rem 0 0 2rem;
}
#container .con02 .con02_top .arr div:nth-child(2) {
  border-radius: 0 2rem 2rem 0;
}

#container .con02 .con02_top .arr div:nth-child(1):hover i {
  /* animation: arr1 0.5s linear; */
  transform: translateX(-100%);
}

#container .con02 .con02_top .arr div:nth-child(2) i {
  transform: translateX(-100%);
}
#container .con02 .con02_top .arr div:nth-child(2):hover i {
  /* animation: arr2 0.5s linear; */
  transform: translateX(0);
}

/* con02 arr 애니메이션용 */
/* @keyframes arr1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes arr2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} */

#container .con02 .adopt_wrap {
  width: 100%;
  overflow: hidden;
}

#container .con02 .adopt_wrap .adopt {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

#container .con02 .adopt li {
  width: 300px;
  flex-shrink: 0;
  background-color: #fbac18;
  border-radius: 1rem;
  cursor: pointer;
}

#container .con02 .adopt li .dog {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}
#container .con02 .adopt li .dog img {
  width: 100%;
  transition: 1s;
  filter: brightness(0.8);
}

#container .con02 .adopt li:hover img {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* 정보 */
#container .con02 .adopt li .info {
  padding: 1rem;
}

#container .con02 .adopt li .info .name {
  font-size: 1rem;
  margin-bottom: 0.7rem;
  font-weight: bold;
}
#container .con02 .adopt li .info .etc {
  color: #151515;
  font-size: 0.9rem;
}
#container .con02 .adopt li .info .etc span {
  border-left: 1px solid #151515;
  border-right: 1px solid #151515;
  padding: 0 1rem;
  margin: 0 1rem;
}

/* container -> con03 */

#container .con03 {
  /* border: 1px solid red; */
  margin: 5rem auto 10rem;
}
/* left */
#container .con03 .left {
  width: 30%;
  transform: translateX(-10rem);
  transition: 1s;
  transition-duration: 1s;
}

#container .con03 .left .btn {
  width: 8rem;
  margin-left: 2rem;
  background-color: #fbac18;

  border-radius: 0 2rem 2rem 0;
  transform: translate(0px, 0px);
  transition: 0.5s;
}
#container .con03 .left .btn a {
  width: 100%;
  border-radius: 0 2rem 2rem 0;
  padding: 1rem 2rem;
  display: inline-block;
}
#container .con03 .left .btn:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 #4068b2;
}

#container .con03 .right ul li .pic_wrap {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.5s;
  transform: translate(10px, 10px);
  box-shadow: -5px -5px 0px #fbac18;
}

#container .con03 .right ul li:nth-child(1) .pic_wrap {
  transition: 0.5s;
  transition-delay: 1s;
}

#container .con03 .right ul li .pic_wrap img {
  width: 100%;
  transition: 0.5s;
}

/* 사진 움직임 */
#container .con03 .right ul li .pic_wrap:hover {
  transform: translate(0, 0);
  box-shadow: 10px 10px 0px #fbac18;
}
#container .con03 .right ul li .pic_wrap:hover img {
  transform: scale(1.1);
}

#container .con03 .right ul li .t_wrap {
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  border-radius: 15px 0 0 0;
}

#container .con03 .right ul li .t_wrap h4 span {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #fbac18;
}

/* container -> con04 */

#container .con04 {
  width: 100%;
  background-color: #4068b2;
  border-radius: 0 0 30rem 0;
  padding: 5rem 0;
  opacity: 0;
  transition: 1s;
  transition-duration: 1s;
}

#container .con04 h2 {
  color: #fbac18;
}
#container .con04 .p02 {
  color: #fbac18;
}

#container .con04 .con04_wrap {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  /* border: 1px solid red; */
  /* overflow: hidden; */
}

/*  */
#container .con04 .report {
  display: flex;
  gap: 10rem;
  opacity: 0;
  transition: 1s;
  transition-duration: 1s;
  transition-delay: 1s;
}

#container .con04 .report li {
  width: calc(100% / 2);
  height: 35rem;
  /* border: 1px solid #666; */
  background: no-repeat center / cover;
  transition: 1s;
  transition-duration: 1s;
  overflow: hidden;
  /* filter: grayscale(0.5); */
}

#container .con04 .report li:first-child {
  background-image: url(../img/con04_1.jpg);
  border-radius: 1rem 50% 1rem 1rem;
}
#container .con04 .report li:last-child {
  background-image: url(../img/con04_2_1.jpg);
  border-radius: 1rem 1rem 1rem 50%;
}

/* con04 narrow */

#container .con04 .report li .narrow {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  padding: 5rem;
  position: relative;
  transition: 2s;
  transition-duration: 2s;
}

#container .con04 .report li .narrow h5 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
#container .con04 .report li .narrow .txt {
  font-size: 1.2rem;
}

#container .con04 .report li .narrow .btn {
  background-color: #4068b2;
  border: 1px solid #fbac18;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  width: 12rem;
  padding: 1rem;
  position: absolute;
  bottom: 2rem;
  transition: 0.1s;

  /* transition-delay: 0.5s; */
}

#container .con04 .report li:hover .narrow {
  background: linear-gradient(90deg, #4068b2, rgba(255, 255, 255, 0));
  color: #fff;
}

#container .con04 .report li:hover .narrow .btn {
  opacity: 1;
}
#container .con04 .report li .narrow .btn:hover {
  border: none;
  background-color: #fbac18;
}

/* container -> con05 */

#container .con05 ul {
  padding: 10rem 0;
  display: flex;
  gap: 8rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
}

#container .con05 ul li span {
  color: #4068b2;
}

/* footer */
footer {
  color: #fff;
  background-color: #4068b2;
  border-radius: 5rem 5rem 0 0;
  padding: 0 2rem;
}
footer .footer_wrap {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}
/* footer_left */
footer .footer_wrap .left .top {
  display: flex;
  gap: 4rem;
  margin-bottom: 5rem;
}
footer .footer_wrap .left .top h1 {
  transition: 0.5s;
}
footer .footer_wrap .left .top h1:hover {
  transform: scale(1.1);
}
footer .footer_wrap .left .top > ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .footer_wrap .left .top h1 {
  width: 8rem;
}
footer .footer_wrap .left .top > ul li {
  transition: 0.5s;
  position: relative;
  border-radius: 2rem 0 0 2rem;
  overflow: hidden;
}

footer .footer_wrap .left .top > ul li::before {
  content: "";
  background: linear-gradient(90deg, #fbac18, rgba(255, 255, 255, 0));

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 1s;
}

footer .footer_wrap .left .top > ul li:hover::before {
  transform: translateX(-50%);
}

footer .footer_wrap .left .bottom .sns {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 1.5rem;
}
footer .footer_wrap .left .bottom .sns li {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
footer .footer_wrap .left .bottom .sns li:hover {
  color: #fbac18;
  /* border: 1px solid #fbac18; */
  box-shadow: 0 1rem 0 #fbac18;
  font-size: 1.3rem;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem 2rem 0 0;
}
footer .footer_wrap .right {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
footer .footer_wrap .right li span {
  font-weight: bold;
  margin-right: 0.5rem;
}
footer .footer_wrap .right li.copy {
  font-size: 0.9rem;
  color: #ccc;
  font-weight: lighter;
  margin-top: 2rem;
}
/* 
[ 미 ]===============================================
[ 디 ]===============================================
[ 어 ]===============================================
[ 쿼 ]===============================================
[ 리 ]===============================================
 */

/* 미디어쿼리 */
@media (min-width: 1200px) {
  /* header */

  /* header 메뉴바 */
  header nav.top ul {
    gap: 4rem;
  }

  header nav.side {
    display: none;
  }

  /* visual */

  #visual .bg h3 {
    font-size: 3rem;
    left: 5rem;
  }

  /* container -> con03 */

  #container .con03 {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 1400px;
    display: flex;
  }

  #container .con03 .left .p02 {
    margin-bottom: 4rem;
  }

  /* right */
  #container .con03 .right {
    width: 70%;
  }
  #container .con03 .right ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
  }
  #container .con03 .right ul li {
    width: calc((100% - 2rem) / 2);
    height: 24rem;
    position: relative;
  }

  #container .con03 .right {
    margin-right: 2rem;
  }

  #container .con03 .right ul li:nth-child(odd) {
    transform: translateY(10rem);
    opacity: 0;
    transition: 1s;
  }

  #container .con03 .right ul li:nth-child(even) {
    transform: translateY(20rem);
    opacity: 0;
    transition: 1s;
    transition-duration: 1s;
  }

  #container .con03 .right ul li .t_wrap {
    position: absolute;
    left: 1rem;
    bottom: 5rem;
  }

  #container .con03 .right ul li .t_wrap h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fbac18;

    padding-left: 1rem;
  }
  #container .con03 .right ul li .t_wrap h4 span {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fbac18;
  }
  /* container -> con04 */
  #container .con04 .report li:hover {
    width: 80%;
  }

  #container .con04 .report li:first-child .narrow .btn {
    left: 5%;
    border-radius: 0 2rem 2rem 0;
  }

  #container .con04 .report li:last-child .narrow .btn {
    right: 5%;
    border-radius: 2rem 0 0 2rem;
  }
}

/*
============================================================
===========================tablet===========================
============================================================
 */

@media (max-width: 1199px) {
  /* header */

  /* header 사이트맵 */
  header nav.top ul {
    gap: 2.5rem;
  }
  header nav.top ul li {
    font-size: 1rem;
  }
  header nav.top ul li.menu {
    display: flex;
  }
  header nav.side {
    display: none;
  }

  /* header 후원버튼 */
  header .dona {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 5rem;
    height: 5rem;
    border-radius: 0 8rem 8rem 0;
  }
  header .dona a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  header .login {
    display: flex;
  }
  header .mobile {
    display: none;
  }

  /* visual */

  #visual .bg h3 {
    font-size: 3rem;
    left: 5rem;
  }

  /* container -> con01 */

  /* large */
  #container .con01 .pic .pic_l {
    width: 400px;
    height: 400px;
    position: relative;
  }
  /* siren */
  #container .con01 .pic .left .siren {
    width: 90px;
    height: 90px;
  }
  /* small */
  #container .con01 .pic .pic_s {
    width: 400px;
  }
  #container .con01 .pic .pic_s li {
    width: calc((400px / 2) - 0.5rem);
    height: calc((400px / 2) - 0.5rem);
  }

  /* container -> con03 */

  #container .con03 {
    /* border: 1px solid red; */
    display: flex;
    width: 95%;
  }
  #container .con03 .left .p02 {
    margin-bottom: 4rem;
  }

  /* right */
  #container .con03 .right {
    width: 70%;
  }
  #container .con03 .right ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
  }
  #container .con03 .right ul li {
    width: calc((100% - 2rem) / 2);
    height: 20rem;
    position: relative;
  }

  /* #container .con03 .right ul li {
    display: flex;
  } */

  #container .con03 .right ul li:nth-child(odd) {
    transform: translateY(10rem);
    opacity: 0;
    transition: 1s;
  }

  #container .con03 .right ul li:nth-child(even) {
    transform: translateY(20rem);
    opacity: 0;
    transition: 1s;
    transition-duration: 1s;
  }

  #container .con03 .right ul li .t_wrap {
    position: absolute;
    left: 1rem;
    bottom: 5rem;
  }
  #container .con03 .right ul li .t_wrap h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fbac18;

    padding-left: 1rem;
  }
  #container .con03 .right ul li .t_wrap h4 span {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fbac18;
  }

  /* container -> con04 */
  #container .con04 .report li:hover {
    width: 80%;
  }

  /* container -> con05 */

  #container .con05 ul {
    gap: 5rem;
    font-size: 2rem;
  }

  /* footer */
  /* footer_left */
  footer .footer_wrap .left .top {
    flex-direction: column;
  }
  #container .con04 .report li:first-child .narrow .btn {
    left: 5%;
    border-radius: 0 2rem 2rem 0;
  }

  #container .con04 .report li:last-child .narrow .btn {
    right: 5%;
    border-radius: 2rem 0 0 2rem;
  }
}

/*
============================================================
===========================mobile===========================
============================================================
 */

@media (max-width: 840px) {
  /* header */
  /* header 로고 */
  header h1 img {
    width: 120px;
  }

  /* header 사이트맵 */
  header nav.top ul li {
    display: none;
    padding: 0 2rem;
  }
  header nav.top ul li.menu {
    display: flex;
    justify-content: flex-end;
  }
  /* dona */
  header .dona {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0 8rem 8rem 0;
  }
  header .dona a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  header .login {
    display: none;
  }
  header .mobile {
    display: flex;
  }

  /*

  header mobile ver. side bar 
 
  */
  header nav.side {
    /* display: block; */
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.5rem;
    display: none;
  }
  header nav.side .close {
    display: flex;
    width: 100%;
    justify-content: right;
    padding: 3rem 2rem 0 0;
  }
  header nav.side i {
    color: #fbac18;
    cursor: pointer;
  }
  header nav.side ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    padding-top: 10rem;
  }
  header nav.side ul li {
    width: 50%;
    height: 100%;
  }
  header nav.side ul li > a {
    border: 1px solid #777;
    border-radius: 3rem;
    /* border: 1px solid red; */
    width: 100%;

    display: inline-block;
    text-align: center;
    padding: 1rem 0;
  }
  header nav.side ul li > a:hover {
    background-color: #4068b2;
  }
  header nav.side ul li.login2 {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  /* visual */

  #visual .bg h3 {
    font-size: 1.7rem;
    left: 3rem;
  }

  #visual .bg .detail {
    font-size: 1rem;
    width: 10rem;
    padding: 1rem;
  }

  #visual .but .dot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
  }
  #visual .but .dot li {
    width: 2rem;
    height: 0.2rem;
    border-radius: 2rem;
    background-color: #fff;
    overflow: hidden;
  }

  /* ----------------------------------------- */
  /* container */ /*-------------*/ /* con01 */
  /* ----------------------------------------- */
  #container .con01 {
    width: 90%;
    height: 100%;
  }

  #container .con01 .pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  /* large */
  #container .con01 .pic .pic_l {
    width: 400px;
    height: 400px;
    position: relative;
  }

  /* siren */
  #container .con01 .pic .left {
    position: relative;
  }
  #container .con01 .pic .left .siren {
    width: 90px;
    height: 90px;
  }

  /* small */

  #container .con01 .pic .pic_s {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #container .con01 .pic .pic_s li {
    position: relative;
    width: calc((400px - 1rem * 3) / 4);
    height: calc((400px - 1rem * 3) / 4);
    border-radius: 1rem;
    overflow: hidden;
  }

  #container .con01 .pic .pic_s li img {
    width: 100%;
    height: 100%;

    /* transition: 0.5s; */
  }
  #container .con01 .pic .pic_s li .gr {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    transition: 0.5s;
  }
  #container .con01 .pic .pic_s li.on .gr {
    background-color: rgba(0, 0, 0, 0);
  }
  #container .con01 .pic .pic_s li.on img {
    scale: 1.1;
  }
  #container .con01 .pic .pic_s li.on {
    box-shadow: 0 0 30px #fbac18;
  }

  /* container -> con03 */

  #container .con03 {
    margin: 5rem auto 15rem;
    display: block;
    /* border: 1px solid red; */
    width: 90%;
  }
  #container .con03 .left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
  }
  #container .con03 .left .btn {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* right */

  #container .con03 .right {
    width: 100%;
  }

  #container .con03 .right ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5rem;
  }
  #container .con03 .right ul li {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  #container .con03 .right ul li {
    transform: translateY(0rem);
    opacity: 0;
    transition: 1s;
    transition-duration: 1s;
  }

  #container .con03 .right ul li .t_wrap {
    width: 90%;
    position: absolute;
    left: 1rem;
    bottom: -2rem;
  }
  /* container -> con04 */

  #container .con04 .report {
    flex-direction: column;

    height: 40rem;
  }
  #container .con04 .report li {
    text-align: center;
    width: 100%;
    height: 50%;
  }

  #container .con03 .right ul li:nth-child(even) {
    transform: translateY(0);
  }
  #container .con04 .report li:hover .narrow {
    background: linear-gradient(180deg, #4068b2, rgba(255, 255, 255, 0));
  }
  #container .con04 .report li:first-child {
    border-radius: 200rem 200rem 0rem 0rem;
  }
  #container .con04 .report li:last-child {
    border-radius: 0rem 0rem 1rem 1rem;
  }

  #container .con04 .report li .narrow h5 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  #container .con04 .report li .narrow .txt {
    display: none;
    transition: 0.5s;
  }
  #container .con04 .report li:hover .txt {
    display: block;
    font-size: 0.8rem;
  }
  #container .con04 .report li .narrow .btn {
    gap: 0.5rem;
    font-size: 1rem;
    width: 10rem;
    /* left: 50%;
    transform: translateX(-50%); */
  }

  #container .con04 .report li:hover {
    width: 100%;
    height: 80%;
  }

  #container .con04 .report li:first-child .narrow .btn {
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
  }

  #container .con04 .report li:last-child .narrow .btn {
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
  }

  /* container -> con05 */

  #container .con05 ul {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  /* footer */

  footer .footer_wrap {
    flex-direction: column;
    gap: 4rem;
  }

  /* footer_left */
  footer .footer_wrap .left .top {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
  }
}

/*  */
@media (max-width: 400px) {
  .p02 {
    font-size: 1rem !important;
  }

  #visual .bg h3 {
    font-size: 1.5rem;
    left: 2rem;
  }

  /* large */
  #container .con01 .pic .pic_l {
    width: 300px;
    height: 300px;
    position: relative;
  }

  #container .con03 .left {
    width: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  #container .con03 .left .p02 {
    margin-bottom: 2rem;
  }
  #container .con03 .left .btn {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  /* small */
  #container .con01 .pic .pic_s {
    width: 300px;
  }
  #container .con01 .pic .pic_s li {
    width: calc((300px - 1rem * 3) / 4);
    height: calc((300px - 1rem * 3) / 4);
  }

  footer .left .top > ul {
    display: block !important;
    text-align: right;
  }
}
